body {
    margin: 0;
    padding: 0;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#click-button {
    background: url('/static/images/button.png') no-repeat center center;
    background-size: contain;
    width: 150px; /* ширина кнопки */
    height: 150px; /* высота кнопки */
    border: none;
    cursor: pointer;
    outline: none;
}
